<!DOCTYPE html>
<html>
<head>
    <base href="./">
    <title>nodecal</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material/themes/grey-theme.css">
    <script src="bower_components/requirejs/require.js"></script>
    <script src="js/r.config.js"></script>
</head>
<body layout="row">
<md-backdrop class="md-sidenav-backdrop md-opaque md-default-theme md-locked-open"></md-backdrop>
<md-sidenav layout="column" style="overflow: hidden; display: flex;" class="md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="$media('gt-sm')" tabindex="-1">
    <md-toolbar style="min-height: 64px; max-height:64px;" layout="column" class="md-default-theme">
        <h1 class="md-toolbar-tools" flex="" layout="column">
            <div flex="" style="line-height:40px; text-indent: 15px;">Menu</div>
        </h1>
    </md-toolbar>

    <md-content flex="" style="overflow: auto;" class="md-default-theme">
    </md-content>

</md-sidenav>
<div layout="column" layout-fill tabindex="-1" role="main">
    <md-toolbar layout="column" class="md-default-theme">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools" flex="" layout="column">
                <a href="" ng-click="goHome()" layout="row" flex="" tabindex="0">
                   <img style="width: 40px; height: 40px;" src="img/google_calendar_lollipop_app_icon.png">
                    <div flex style="line-height:40px; text-indent: 15px;">Node Cal</div>
                </a>
            </h1>
            <button class="md-button md-default-theme" layout="row" layout-align="center center"
                    ng-click="demoCtrl.$showSource = !demoCtrl.$showSource" tabindex="0">
                <md-icon icon="/img/icons/ic_visibility_24px.svg" style="margin: 0 4px 0 0;" class="ng-scope">
                    <object class="md-icon" data="/img/icons/ic_visibility_24px.svg"></object>
                </md-icon>
                <div class="md-ripple-container"></div>
            </button>
        </div>
    </md-toolbar>

    <div layout-fill layout="column" ng-view>

    </div>
</div>
<script>
    requirejs([
        'angular',
        'app',
        'hammer',
        'config',
        'angular-route',
        'angular-resource',
        'angular-material'
    ], function (angular, cal, hammer) {
        window.Hammer = hammer;
        angular.bootstrap(document, ['calApp']);
    });
</script>
</body>
</html>